@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: 'メイリオ',  'Hiragino Kaku Gothic Pro', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*-----共通とスマートフォン-----*/
/*ヘッダー*/
.l-header {
  background-color: #FFF7EF;
  padding: 1em 0;
  margin-bottom: 2em;
  text-align: center;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.l-header-title h1 {
  font-size: 40px;
  color: #707070;
  margin-top: 30px;
}

/*検索フォーム*/
.p-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.c-search-box {
  border: 1px solid #707070;
  border-radius: 7px;
  width: 200px;
  margin-right: 8px;
  font-size: 1.5em;
  background-color: #ffffff;
}

.c-submit-button {
  border: 1px solid #707070;
  padding: 0px 15px;
  background-color: #F2EDE9;
  border-radius: 7px;
}

/*ハンバーガーメニューのボタン*/
.p-hamburger {
  top: 10px;
  right: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #707070;
  position: absolute;
  z-index: 1001;
}

/*メインコンテンツ*/
.p-main-cover {
  max-width: 1500px;
  min-width: 300px;
  position: relative;
}

.index-cover-img {
  width: 100%;
  vertical-align: bottom;
}

.p-main-cover p {
  position: absolute;
  top: 30%;
  left: 5%;
  color: #ffffff;
  font-size: 30px;
  font-family: m +1m;
}

/*ブランチメニュー共通*/
.c-branch-menu {
  width: 100%;
}

.c-branch-menu dl {
  background-color: #ffffff;
  opacity: 0.7;
  display: block;
}

.c-branch-menu dt {
  font-size: 17px;
  margin-bottom: 10px;
}

.c-branch-menu dd {
  font-size: 11px;
  margin-left: 0;
  margin-bottom: 10px;
}

.c-index-menu-img-1 {
  max-width: 450px;
  min-width: 300px;
  padding: 5px;
}

.c-index-menu-img-2 {
  max-width: 450px;
  min-width: 300px;
  padding: 5px;
}

.index-menu-img {
  width: 100%;
  min-height: 600px;
  max-height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-branch-menu li {
  list-style: none;
  position: relative;
  padding: 10px;
}

/*ブランチメニュー左側*/
.c-content-left {
  position: absolute;
  top: 0%;
}

.c-content-left h2 {
  font-size: 40px;
  color: #ffffff;
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 7%;
  left: 6%;
}

.c-content-left p {
  position: absolute;
  font-size: 30px;
  color: #ffffff;
  display: inline-block;
  padding: 0;
  margin-left: 5%;
  top: 15%;
}

.c-summary-left {
  margin-top: 75%;
  margin-left: 5%;
}

.c-summary-left dl {
  width: 90%;
  padding: 5%;
  margin-top: 5%;
}

/*ブランチメニュー右側*/
.c-content-right {
  position: absolute;
  top: 0%;
}

.c-content-right h2 {
  font-size: 40px;
  color: #ffffff;
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 7%;
  left: 6%;
}

.c-content-right p {
  font-size: 30px;
  color: #ffffff;
  display: inline-block;
  padding: 0;
  margin-left: 5%;
  position: absolute;
  top: 15%;
}

.c-summary-right {
  margin-top: 75%;
  margin-left: 5%;
}

.c-summary-right dl {
  width: 90%;
  padding: 5%;
  margin-top: 5%;
}

/*メインコンテンツ-アクセス情報*/
.p-index-access-bgimg {
  max-width: 1400px;
  min-width: 300px;
}

.index-access-map-img-pc {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  background-color: #000000;
  vertical-align: bottom;
}

.p-access {
  position: relative;
}

.c-access-info {
  position: absolute;
  top: 0%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
}

.c-access-info h3 {
  font-size: 25px;
  font-weight: lighter;
  padding: 10px;
  margin-top: 5%;
  margin-left: 10%;
}

.c-access-info p {
  display: inline-block;
  margin-left: 50px;
}

.access-map-text {
  font-size: 12px;
  display: inline-block;
  padding-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 2.2;
  letter-spacing: 2px;
  font-weight: lighter;
}

/*サイドバー*/
nav {
  width: 312px;
  height: 100%;
  overflow: scroll;
}

nav.p-gmenu {
  width: 200px;
  height: 100%;
  padding-bottom: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translate(312px);
          transform: translate(312px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  color: #707070;
  background-color: #F2EDE9;
}

nav.open {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.p-sidebar h3 {
  display: none;
}

.inside-sidebar {
  margin-top: 180px;
}

.p-sidebar h4 {
  font-size: 17px;
  padding: 0;
  margin-top: 55px;
  margin-left: 30px;
  font-weight: lighter;
}

.p-sidebar ul {
  margin-left: 10px;
}

.p-sidebar li {
  list-style: none;
  font-size: 10px;
  padding-top: 5px;
  margin-top: 5px;
  margin-left: 30px;
  font-size: 13px;
  line-height: 2.2;
}

/*フッター*/
.l-footer {
  position: relative;
}

.footer-bg-img {
  max-width: 1500px;
  min-width: 300px;
}

.footer-img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

.c-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #FFF7EF;
}

.c-footer li {
  list-style: none;
}

.c-footer li a {
  font-size: 14px;
  font-weight: lighter;
  color: #FFF7EF;
  text-decoration: none;
}

.copyright {
  font-size: 10px;
  margin-top: 20%;
  margin-left: 15%;
}

/*-----スマートフォン(横)とタブレット(縦)-----*/
@media screen and (min-width: 481px) {
  body {
    font-size: 13px;
  }
  /*----ブランチメニュー----*/
  .c-branch-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*----アクセス----*/
  .index-access-map-img-pc {
    height: 350px;
  }
  .c-access-info {
    width: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
  }
  /*----フッター----*/
  .footer-img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/*-----デスクトップとタブレット(横)-----*/
@media screen and (min-width: 769px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*ヘッダー*/
  .l-header {
    width: 100%;
    background-color: #FFF7EF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .l-header-title h1 {
    margin: 40px;
    font-size: 50px;
    color: #707070;
  }
  .p-button {
    display: block;
  }
  /*検索フォーム*/
  .p-search-form {
    margin-top: 15%;
    padding: 0;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .c-search-box {
    border: 1px solid #707070;
    border-radius: 7px;
    width: 300px;
    margin-right: 15px;
    font-size: 1.5em;
    background-color: #ffffff;
  }
  .c-submit-button {
    border: 1px solid #707070;
    padding: 0px 35px;
    background-color: #F2EDE9;
    border-radius: 7px;
  }
  /*ブランチメニュー*/
  .c-branch-menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*アクセス*/
  .index-access-map-img-pc {
    height: 500px;
    opacity: 0.9;
    background-color: #000000;
    vertical-align: bottom;
  }
  .c-access-info {
    height: 500px;
    width: 61%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
  }
  /*サイドバー*/
  .p-sidebar {
    display: block;
    width: 350px;
    margin-right: 0px;
    color: #707070;
    background-color: #F2EDE9;
  }
  .p-sidebar h3 {
    font-size: 22px;
    padding: 0;
    margin-top: 60px;
    margin-left: 30px;
  }
  .p-sidebar h4 {
    font-size: 19px;
    padding: 0;
    margin-top: 55px;
    margin-left: 30px;
    font-weight: lighter;
  }
  .p-sidebar ul {
    margin-left: 0;
  }
  .p-sidebar li {
    list-style: none;
    font-size: 10px;
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 13px;
    line-height: 2.2;
  }
  /*フッター*/
  .footer-bg-img {
    max-width: 1500px;
    min-width: 300px;
  }
  .footer-img {
    width: 100%;
    vertical-align: bottom;
  }
}
/*# sourceMappingURL=style.css.map */