$basecolor1: #FFF7EF;
$basecolor2: #707070;
$basecolor3: #000000;
$basecolor4: #ffffff;
$basecolor5: #F2EDE9;

.pagenation-wrapper {
    display                     : flex;
    justify-content             : center;

    @include breakpoint ( tablet ){
    justify-content             : center;
    }

    @include breakpoint ( pc ){
    justify-content             : center;
    }

}

.c-pagenation li.prev {
    margin-right                : 20px;
}

.c-pagenation li.Next {
    margin-left                 : 120px;
}




 
/**ページネーションの見出し**/
.pagenation-wrapper h4 {

    display                     : none;
    color                       : $basecolor2;

    @include breakpoint ( tablet ) {
            
            display             : block;
            margin-top          : 100px;
            margin-bottom       : 50px;
            padding-left        : 5px;
            padding-right       : 5px;
            display             : flex;
            justify-content     : center;
            align-items         : center;
        
    }
    
    @include breakpoint ( pc ) {
        
            display             : block;
            margin-top          : 100px;
            margin-bottom       : 50px;
            padding-right       : 5px;
            display             : flex;
            justify-content     : center;
            align-items         : center;
    }

}

/**ページネーションのレイアウト**/

.c-pagenation {
    margin-top                  : 50px;
    margin-bottom               : 20px;
    display                     : flex;

    @include breakpoint ( tablet ) {
        margin-top              : 100px;
        margin-bottom           : 50px;
        justify-content         : center;
    }

    @include breakpoint ( pc ) {
        margin-top              : 100px;
        margin-bottom           : 50px;
        justify-content         : center;
    }
    
    

}

/**ページネーションのliの見た目のデザイン**/

.c-pagenation li {
    display                     : inline-block;
    width                       : 40px;
    height                      : 40px;
    line-height                 : 40px;
    text-align                  : center;
    border                      :1px $basecolor2 solid;
    background-color            : $basecolor4;

    &:first-child{
        border                  : none;
    }
    
    &:last-child{
        border                  : none;
    }

    & a {
        display                 : block; 
        color                   : $basecolor2;
    }

    & a:hover {
        color                   : $basecolor1;
        background-color        : #3C2B1C;
    }

    @include breakpoint ( tablet ){
        margin-right            : 2%;
    }

    @include breakpoint ( tablet ){
        margin-right            : 2%;
    }

    
}



/**1〜９の番号の表示非表示(ページネーションのレスポンシブ表示)**/

.c-pagenation li:nth-child(n+3):nth-child(-n+11){
    display                     : none;

    @include breakpoint ( tablet ) {
        display                 : inline-block;
    }

    @include breakpoint ( pc ) {
        display                 : inline-block;
    }
}

/**前へ・次への表示非表示(ページネーションのレスポンシブ表示)**/
.c-pagenation li:nth-child(2) {
    border                      : none;

    @include breakpoint ( tablet ) {
        display                 : none;
    }
    @include breakpoint ( pc ) {
        display                 : none;
    }
}

.c-pagenation li:nth-child(12) {
    border                      : none;

    @include breakpoint ( tablet ) {
        display               : none;
    }
    @include breakpoint ( pc ) {
        display               : none;
    }
}

