
$basecolor1: #FFF7EF;
$basecolor2: #707070;
$basecolor3: #000000;
$basecolor4: #ffffff;
$basecolor5: #F2EDE9;

#pagenation-wrapper {
    display                     : flex;
    justify-content             : space-around;

    @include breakpoint ( tablet ){
    justify-content             : center;
    }

    @include breakpoint ( pc ){
    justify-content             : center;
    }

}
.pages {

    display: none;

    @include breakpoint( tablet ){
    display: inline;
    margin-right: 10px;
    color: $basecolor2;
    }

    @include breakpoint( pc ){
    display: inline;
    margin-right: 10px;
    color: $basecolor2;
        }
}

.current {
    display: none;

    @include breakpoint ( tablet ) {
        display: inline;
    padding: 7px;
    color: $basecolor1;
    border                      :1px $basecolor2 solid;
    margin-right: 10px;
    background-color: #3C2B1C;
    }

    @include breakpoint ( pc ) {
        display: inline;
        padding: 7px;
        color: $basecolor1;
        border                      :1px $basecolor2 solid;
        margin-right: 10px;
        background-color: #3C2B1C;
        }
}

.larger, .smaller{

    display: none;

    @include breakpoint ( tablet ) {
        display: inline;
    padding: 7px;
    margin-right: 10px;
    color: $basecolor2;
    border                      :1px $basecolor2 solid;
    }

    @include breakpoint ( pc ) {
        display: inline;
    padding: 7px;
    margin-right: 10px;
    color: $basecolor2;
    border                      :1px $basecolor2 solid;
        }

 
}

ul.c-pagenation {
    
    margin-top: 5%;
    margin-bottom: 5%;

    & a:hover {
        color                   : $basecolor1;
        background-color        : #3C2B1C;
    }
}

.nextpostslink {
    padding: 7px;
    color: $basecolor2;
}

.previouspostslink {
    padding: 7px;
    color: $basecolor2;
    margin-right: 45vw;

    @include breakpoint( tablet ){
        margin-right: 0;
    }

    @include breakpoint( pc ){
        margin-right: 0;
    }
}



.navigation-wrapper {
    display: flex;
}

.post-navigation {
    justify-content: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.screen-reader-text {
    display: none;
}